@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.typekit.net/pfm6uzg.css");

/*header*/

.container-header {
    background: var(--Turquoise);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}


.container-header header {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 20px; */
}


.container-header header .btnAgenda{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--Orange);
    border: none;
    box-shadow: 10px 5px 5px var(--Vert);
    text-align: center;
}

.logo img{
    width: 80px;
    border-radius: 50px;
}


.container-header header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.container-header header ul li a {
    text-align: none;
    color: var(--blanc);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Anton';
}


.container-header header ul li a:hover {
    color: var(--black);
}

.nav-menuhamburgeur {
    background-color: var(--Turquoise);
    color: var(--blanc);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.container-nav-asso {
    display: none;
    background: var(--blanc);
    border-top: 2px solid var(--Turquoise);
    position:sticky;
    width: 100%;
    height: 70px;
    left: 0;
    top: 80px; 
    z-index: 98;
    padding-top: 10px;
}



.container-nav-asso ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}

.container-nav-asso ul li a {
    text-decoration: none;
    color: var(--Turquoise);
    font-weight: bold;
    transition: 0.3s;
}

.container-nav-asso ul li a:hover {
    color: var(--black);
}





/*footer*/

footer {
    background-position: center top;
    background-blend-mode: multiply;
    background-color: var(--Turquoise);
}
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
 footer .logo{
    width: 100px;
    margin-left: 30%;
 }
  
  .left-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
  }
  
  footer .social-media {
    margin-left: 20px;
    color: var(--blanc);
    font-size: 24px;
  }
  
  .right-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
text-align: center;
align-items: center;
  margin-left: 10%;
    gap: 30px;
    color: var(--blanc);
    font-size: 14px;
  }
  
footer hr {
    margin: 0 50px 10px 50px;
    color: var(--blanc);
    border-color: var(--blanc);
  }
.copyright p{
    text-align: center;
    color: var(--blanc);
    font-size: 10px;
    padding-bottom: 20px;
  }

i{
    margin: 10px;
}

/*footer*/



@media screen and (max-width: 768px) {
  nav {
      display: none;
  }
  #icon {
    display: block;
    font-size: 36px;
}
  .nav-menuhamburgeur {
      display: block;
  }
  .responsive-nav {
      display: block;
      position: absolute;
      right: 0;
      top: 80px;
      background-color: var(--Turquoise);
      width: 100%;
  }
  .responsive-nav ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .responsive-nav ul li {
      border-bottom: 1px solid #fff;
      padding: 10px;
      text-align: center;
  }

  #form-conct {
      width: 98%;
  }
}


